<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">EStockMarket</a>
    <div class="navbar-nav mr-auto" style="float: right;">
      
      <li class="nav-item">
        <a *ngIf="_auth.isLoggedIn()" href="#" class="nav-link">Add Company</a>
      </li>
      <li class="nav-item">
        <a *ngIf="_auth.isLoggedIn()"routerLink="companies" class="nav-link">List All Companies</a>
      </li>
      <li  routerLinkActive="active"><a *ngIf="!_auth.isLoggedIn()" routerLink="/login">Login</a></li>      
      <li class="nav-item">
        <a *ngIf="_auth.isLoggedIn()" href="javascript:void(0)"  class="nav-link" (click)="doLogout()">Logout</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>